/* body contato */
.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 2% 0 3%;
    font-size: 1em;
}
  
/* container do formulário */
.container{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
  
/* header fomulário */
.form-header{
    background: linear-gradient(120deg, #13044e, #3e80cc 100%);
    padding: 24px;
    text-align: center;
    color: #ffffff;
}

/* Formatação do conteúdo do formulário */

.form{
    padding: 18px;
    color: black;
}
  
.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}
  
.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}
  
.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #ffffff;
}
  
.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}
  
/* Botão de envio */
.form button{
    background: linear-gradient(120deg,  #13044e, #3e80cc 100%);
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}
  
.form-content.error input{
    border-color: #ff3b25;
}
  
.form-content.error a{
    color: #ff3b25;
    visibility: visible;
}
  