/* container do formulário */
.form-container{
    background-color: #ffffffee;
    border-radius: 14px;
    margin: 5% auto;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    border: 2px solid #3d5721;
}
  
/* header fomulário */
.form-header{
    background: linear-gradient(120deg, #6f9d3f, #80dd1d 100%);
    padding: 24px;
    text-align: center;
    color: #ffffff;
}

.form-header h2{
    font-size: 32px;
}

/* Formatação do conteúdo do formulário */

.form{
    padding: 18px;
    color: black;
}
  
.form-content{
    margin-bottom: 20px;
    padding-bottom: 18px;
    position: relative;
}
  
.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}
  
.form-content input{
    display: block;
    width: 96%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #d3d3d3;
}

/* Botão de envio */

.form-btn{
    width: 20%;
    margin: 0 auto;
}

.form button{
    width: 100%;
    background-color: #6f9d3f;
    border:2px solid #6f9d3f;
    border-radius: 14px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: .5s;
}

.form button:hover{
    background-color: transparent;
    color: #6f9d3f;
}
